# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environment variables
.env
.env.*

# Machine learning artifacts
*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.joblib
*.pkl

# TensorBoard
logs/

# Dataset files
*.csv
*.tsv
*.json
*.zip
*.tar.gz
archive/*
openEDS/*
bbox/*
openEDS_events/*
gaze_vector_prediction/*

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig
.DS_Store
Thumbs.db